LLBMA/resources/HemeLabel_weights.ckpt
LLBMA/resources/YOLO_checkpoint.pt
LLBMA/resources/H16-20230726.csv
LLBMA/resources/H16-20230726-reexported.csv
LLBMA/resources/PB_annotations_filtered.csv
.DS_Store
LLBMA/.DS_Store
LLBMA/resources/.DS_Store
LLBMA/brain/.DS_Store
LLBMA/vision/.DS_Store
LLBMA/communication/.DS_Store
WhiteCellWizard.egg-info
build/bdist.macosx-10.9-x86_64
build/lib/LL
build/lib/LL/brain
build/lib/LL/communication
build/lib/LL/vision
build/lib/LL/resources
LeukoLocator/build/lib/
.vscode
LLBMA/resources/PB_annotations_filtered.csv
LLBMA/resources/H16-20230726.csv
LLBMA/resources/H16-20230726-reexported.csv
LeukoLocator.egg-info/
build/

LLBMA/resources/HemeLabel_weights.ckpt
LLBMA/resources/YOLO_checkpoint.pt
LLBMA/resources/H16-20230726.csv
LLBMA/resources/H16-20230726-reexported.csv
LLBMA/resources/PB_annotations_filtered.csv
.DS_Store
LLBMA/.DS_Store
LLBMA/resources/.DS_Store
LLBMA/brain/.DS_Store
LLBMA/vision/.DS_Store
LLBMA/communication/.DS_Store
WhiteCellWizard.egg-info
build/bdist.macosx-10.9-x86_64
build/lib/LLBMA
build/lib/LLBMA/brain
build/lib/LLBMA/communication
build/lib/LLBMA/vision
build/lib/LLBMA/resources
LeukoLocator/build/lib/
.vscode
LLBMA/resources/PB_annotations_filtered.csv
LLBMA/resources/H16-20230726.csv
LLBMA/resources/H16-20230726-reexported.csv
LeukoLocator.egg-info/
build/

LLPBS/resources/HemeLabel_weights.ckpt
LLPBS/resources/YOLO_checkpoint.pt
LLPBS/resources/H16-20230726.csv
LLPBS/resources/H16-20230726-reexported.csv
LLPBS/resources/PB_annotations_filtered.csv
.DS_Store
LLPBS/.DS_Store
LLPBS/resources/.DS_Store
LLPBS/brain/.DS_Store
LLPBS/vision/.DS_Store
LLPBS/communication/.DS_Store
WhiteCellWizard.egg-info
build/bdist.macosx-10.9-x86_64
build/lib/LLPBS
build/lib/LLPBS/brain
build/lib/LLPBS/communication
build/lib/LLPBS/vision
build/lib/LLPBS/resources
LeukoLocator/build/lib/
.vscode
LLPBS/resources/PB_annotations_filtered.csv
LLPBS/resources/H16-20230726.csv
LLPBS/resources/H16-20230726-reexported.csv
LeukoLocator.egg-info/
build/
